*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    background: color #f9f;
    
}
.container{
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calculator{
    
    padding: 10px;
    border-radius: 25px;
    box-shadow:inset 5px 5px 10px rgba(0,0,0,0.4),
               inset -5px -5px 10px rgba(0,0,0,0.5);
    display: grid;
    
    grid-template-columns: repeat(4,75px);           
    background-color: #ecf0f3;
}
input{
    grid-column: span 4;
    height:70px;
    width:300px;
    background-color: #ecf0f3;
    box-shadow: inset 5px 5px 10px rgba(0,0,0,0.4),
    inset -5px -5px 10px rgba(0,0,0,0.4);
    border:none;
    border-radius:10px;
    color:rgb(70,70,70);
    font-size: 30px;
    text-align:end;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
}
button{
    height:40px;
    font-size: 20px;
    width: 80px;
    background-color: #ecf0f3;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.1),
                -5px -5px 10px rgba(0,0,0,0.1);
    margin-top:5px;
    border:none;
    border-radius:20px;            
}
#equal{
    width:150px;
}
header{
    text-align: center;
}